<% provide(:title, "Home") %>

<%= react_component("UserApplications") %>

<h1>Conceptual Ideas Application (home)</h1>
<p>This page will display all available/independent features of application.</p>

<%= link_to "Tutorial", tutorial_path %>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>


<br/>
