<% provide(:title, "Tutorial") %>

<h1>Tutorial Page</h1>
<p>This page will display intuitive information about how to get up and running with application.</p>

<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>
