class Loadinggif extends React.Component {
	componentDidMount() {

	}
	render() {
		return (
			<div className="loading-container">
				<%= image_tag("Rolling-0.8s-89px.gif", :alt => "loading") %>
				<%= image_tag("idea.svg", :alt => "idea icon", :class => "loading-idea") %>
			</div>
		)
	}
}
