class NavigationBar extends React.Component {
	componentDidMount() {
		document.getElementById('name-container').addEventListener("click", function() {
			window.location = "/";
		});

		if (this.props.signedin == false) {
			document.getElementById('signing-up').addEventListener("click", function() {
				window.location = "/signup";
			});
		}
	}
	loggedin() {
		if(this.props.signedin == false) {
			return (
				<div id="login-signup">
					<p id="signing-up">Sign up</p>
					<p><a href="/login" id="signin_link">Sign in</a></p>
				</div>
			)
		}
	}
	render() {
		return (
			<div id="nav">
				<SandwichNavigation signedin={this.props.signedin} />
				<div id="name-container">
					<%= image_tag("idea.svg", :alt => "idea icon", :id => "idea-icon") %>
					<p id="title1">Conceptual</p>
					<p id="title2">Ideas</p>
				</div>

				{this.loggedin()}
			</div>
		)
	}
}
