class StatusMessages extends React.Component {
	shouldComponentUpdate(nextProps, nextState) {
		return (nextprops.color != this.props.color && nextprops.message != this.props.message);
	}
	componentDidMount() {
		var notify = document.getElementById('messages');
		var messageText = document.getElementById('message-positioning');

		if(this.props.color != null && this.props.message != null) {
			let map = new Map([["Blue", ["#7EC0EE", "#FFFFFF"]], ["Green", ["#b2ffb2", "#00cc00"]], ["Red", ["#ff7f7f", "#ff1919"]], ["Yellow", ["#ffffb2", "#b2b200"]]]);
			
			notify.style.background = map.get(this.props.color)[0];
			messageText.style.color = map.get(this.props.color)[1];

			setTimeout(function() {
				messageText.classList.toggle('fade');
			}, 1800);

			setTimeout(function() {
				notify.className = 'disappear';
			}, 9000);
		}
	}
	render() {
		return (
			<div id="messages">
				<p id="message-positioning">{this.props.message}</p>
			</div>
		)
	}
}
